.container-admin {
  .ui {
    &.checkbox:not(.toggle) input:checked~.box:after, &.checkbox:not(.toggle) input:checked~label:after {
      color: #ffffff;
      background-color: #46A997;
      border-radius: .21428571rem;
    }

    &.toggle.checkbox input:checked~.box:before, &.toggle.checkbox input:checked~label:before {
      background-color: #18BA62 !important;
    }
    
    &.toggle.checkbox input:checked~.box, &.toggle.checkbox input:checked~label {
      font-weight: bold;
    }
  
    &.checkbox:not(.toggle) input:checked~.box:after, &.checkbox:not(.toggle) input:checked~label:after {
      color: #ffffff;
      background-color: #46A997;
      border-radius: .21428571rem;
    }

    &.button {
      &.teal {
        background-color: #46A997 !important;

        &.disabled {
          background-color: #E0E0E0 !important;
          opacity: 1 !important;
        }
      }
    }
  }
}