.login {
  background-color: #f2f4f5;
  width: 100vw;
  height: 100vh;
  padding-top: 200px;

  .login-container {
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 450px;
    padding: 40px;
    margin: auto;
    // margin-top: 300px;

    .login-logo {
      margin-bottom: 8px;
      width: 130px;
    }

    .login-btn {
      justify-content: center;
      font-weight: 900 !important;
      font-family: 'Fazz Neue' !important;
      color: rgba(0,0,0,.6) !important;
      background-color: rgb(255, 255, 255) !important;
      border: 1px solid rgb(235, 237, 248) !important;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px !important;
    }

    h3 {
      margin-top: 80px;
      margin-bottom: 15px;
      font-size: 24px;
      color: #4B4A56;
    }

    p {
      color: #727084;
      margin: 0 0 24px;
    }
  }
}