.user-detail-tab {
  padding: 20px 0;

  .user-status {
    padding: 0 !important;

    .ui.button.basic {
      cursor: default;
      &.green {
        border-color: #18BA62 !important;
        color: #18BA62 !important;
        padding: 5px 10px;
      }

      &.red {
        border-color: #DB5555 !important;
        color: #DB5555 !important;
        padding: 5px 20px;
      }
    }
  }

  .block-btn {
    margin-top: 18vh;

    .ui.button {
      width: 150px;
  
      &.red {
        background-color: #DB5555;
      }
      
      &.orange {
        background-color: #F7961D;
      }
    }
  }

  &.user-kyc {
    .ui.grid>.row {
      padding: 0 0 15px !important;
      text-transform: capitalize;
    }

    .ui.card {
      border: 2px solid #E0E0E0 !important;
      cursor: pointer;
      box-shadow: none !important;
      transform: none !important;
      width: 250px;

      &>.extra {
        border-top: 2px solid #E0E0E0 !important;
        color: #000000;
      }
    }
  }
}