.neu-header {
  width: 100%;
  background-color: white;
  padding: 15px 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  overflow: auto;

  .header-logo {
    float: left;
    display: flex;
    align-items: center;
    
    .header-bars {
      cursor: pointer;
      background-color: #222A34;
      border-radius: 2px;
      padding: 10px 15px;
    }
  }
  
  .header-item {
    display: flex;
    float: right;
    cursor: pointer;
    align-items: center;

    .header-profile {
      margin: 0 8px;

      .header-name {
        font-weight: 500;
      }

      .header-role {
        font-size: 12px;
        color: gray;
        margin-top: 3px;
        text-transform: capitalize;
      }
    }
  }

  .header-dropdown {
    position: fixed;
    top: 70px;
    background-color: white;
    width: 200px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    border-radius: 4px;
    right: 30px;
    z-index: 99;

    &::after {
      // content: "";
      // position: absolute;
      // top: -13px;
      // left: 85%;
      // margin-left: -5px;
      // border-width: 7px;
      // border-style: solid;
      // border-color: transparent transparent #fff transparent;
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      top: -9px;
      right: 17px;
      background: #FFFFFF;
      transform: matrix(0.71, 0.69, -0.72, 0.71, 0, 0);

      // content: "";
      // position: absolute;
      // width: 0;
      // height: 0;
      // margin-left: -0.5em;
      // bottom: -2em;
      // left: 50%;
      // box-sizing: border-box;
      // border: 1em solid black;
      // border-color: transparent transparent #fff #fff;
      // transform-origin: 0 0;
      // transform: rotate(-45deg);
      // box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
    }
    
    .header-dropdown-item {
      padding: 13px 16px;
      
      // &:hover {
      //   background-color: #f6f6f6;
      // }

      img {
        vertical-align: middle;
      }
    }
  }
}

.neu-sidebar {
  min-height: 100vh;

  .ui.sidebar {
    background-color: #222b34;
    
    .sidebar-item {
      padding: 24px;

      .sidebar-item-title {
        color: #CDE1FB;
        margin-left: 20px;
        vertical-align: sub;
      }

      &.active {
        background-color: #334256;
        .sidebar-item-title {
          color: #46A997;
        }
      }
      
      &:hover {
        background-color: rgb(39, 54, 71);
        cursor: pointer;
      }
    }

    &.visible ~ .pusher {
      width: calc(100vw - 350px);
    }

    &:not(.visible) ~ .pusher {
      width: 100vw;
    }
  }
  
  &.pushable > .pusher {
    transition: width .5s ease, transform .5s ease,-webkit-transform .5s ease;
  }
}


.container-content {
  background-color: #f2f4f5;
  min-height: calc(100vh - 76px);
  margin-top: 4px;
  padding: 25px 30px;

  ::-webkit-scrollbar {
    display: none;
  }
  
  .ui {
    &.breadcrumb {
      .section {
        color: #222A34;
      }

      a.section {
        color: #46A997;
        
        a {
          color: #46A997;
        }
      }
  
      .divider {
        color: #222A34;
      }
    }

    &.table {
      thead th {
        background: #fff;
      }

      .ui.button.basic {
        border: 1px solid #DBE0E4;
        box-shadow: none;

        &:hover {
          background-color: #f6f6f6 !important;
        }
      }
    }

    &.pagination {
      &.menu {
        background: transparent;
        border: none;
        box-shadow: none;

        .item {
          outline: none;
          border: none;
          border-radius: 4px;

          &[type='firstItem'], &[type='lastItem'] {
            background-color: #fff;
          }
          
          &:before {
            background: none;
          }
  
          &.active {
            background-color: #009696;
            color: #ffffff;
          }
        }
      }
    }

    &.secondary.pointing.menu {
      .active.item {
        border-color: #46A997;
        color: #46A997;
        border-width: 3px;
      }
    }

    &.segment {
      box-shadow: none;
      border-color: #e0e0e0;
    }
  }
}
