.container-recharges {
  .ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
    background-color: #18BA62 !important;
  }
  
  .ui.toggle.checkbox input:checked~.box, .ui.toggle.checkbox input:checked~label {
    font-weight: bold;
  }

  .ui.checkbox:not(.toggle) input:checked~.box:after, .ui.checkbox:not(.toggle) input:checked~label:after {
    color: #ffffff;
    background-color: #46A997;
    border-radius: .21428571rem;
  }

  .payment-filter-children {
    position: absolute;
    top: 0;
    left: 195px;
    background-color: #fff;
    border-radius: 4px;
    padding: 0 15px;
    border: 1px solid #E0E0E0;
    width: 200px;
  }

  .payment-filter-item {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 50px;
    padding: 7px 12px;
    margin-right: 8px;

    i.icon {
      margin-left: 10px;
      background-color: #757575;
      color: #fff;
      cursor: pointer;
    }
  }
}

.cancel-activate-btn {
  background-color: #ffffff !important;
  border: 1px solid #46A997 !important;
  color: #46A997 !important;
  text-transform: uppercase;
  margin-right: 30px !important;
  outline: none !important;
  box-shadow: none !important;
}

.confirm-activate-btn {
  color: #ffffff !important;
  border: 1px solid #46A997 !important;
  background-color: #46A997 !important;
  text-transform: uppercase;
  margin-left: 30px !important;
  outline: none !important;
  box-shadow: none !important;
}

.cancel-deactivate-btn {
  color: #ffffff !important;
  border: 1px solid #DB5555 !important;
  background-color: #DB5555 !important;
  text-transform: uppercase;
  margin-left: 30px !important;
  outline: none !important;
  box-shadow: none !important;
}

.confirm-deactivate-btn {
  background-color: #ffffff !important;
  border: 1px solid #DB5555 !important;
  color: #DB5555 !important;
  text-transform: uppercase;
  margin-right: 30px !important;
  outline: none !important;
  box-shadow: none !important;
}