.container-user {
  .ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
    background-color: #EC1E24 !important;
  }
  
  .ui.toggle.checkbox input:checked~.box, .ui.toggle.checkbox input:checked~label {
    font-weight: bold;
  }

}

.confirm-block-btn {
  background-color: #ffffff !important;
  border: 1px solid #DB5555 !important;
  color: #DB5555 !important;
  text-transform: uppercase;
  margin-right: 30px !important;
  outline: none !important;
  box-shadow: none !important;
}

.cancel-block-btn {
  color: #ffffff !important;
  border: 1px solid #DB5555 !important;
  background-color: #DB5555 !important;
  text-transform: uppercase;
  margin-left: 30px !important;
  outline: none !important;
  box-shadow: none !important;
}

.confirm-unblock-btn {
  color: #ffffff !important;
  border: 1px solid #F7961D !important;
  background-color: #F7961D !important;
  text-transform: uppercase;
  margin-left: 30px !important;
  outline: none !important;
  box-shadow: none !important;
}

.cancel-unblock-btn {
  background-color: #ffffff !important;
  border: 1px solid #F7961D !important;
  color: #F7961D !important;
  text-transform: uppercase;
  margin-right: 30px !important;
  outline: none !important;
  box-shadow: none !important;
}