.container-payment {
  .ui {
    &.label {
      width: 95%;
      text-transform: capitalize;
      text-align: center;
      font-weight: normal;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 12px;

      &.red {
        background-color: #DB5555 !important;
      }
      
      &.navy {
        background-color: #405166 !important;
        color: #ffffff;
      }

      &.teal {
        background-color: #46A997 !important;
      }
      
      &.orange {
        background-color: #F7961D !important;
      }

      &.basic {
        font-size: 14px;
        background-color: #ffffff !important;

        &.red {
          border-color: #DB5555 !important;
          color: #DB5555 !important;
        }
        
        &.navy {
          border-color: #405166 !important;
          color: #405166 !important;
        }
  
        &.teal {
          border-color: #46A997 !important;
          color: #46A997 !important;
        }
        
        &.orange {
          border-color: #F7961D !important;
          color: #F7961D !important;
        }

        &.blue {
          border-color: #3B8EF3 !important;
          color: #3B8EF3 !important;
        }
      }
    }

    &.selection.active.dropdown, &.selection.active.dropdown .menu {
      border-color: #e0e0e0 !important;
    }

    &.checkbox input:checked~.box:after, &.checkbox input:checked~label:after {
      color: #ffffff;
      background-color: #46A997;
      border-radius: .21428571rem;
    }

    &.card {
      border: 2px solid #E0E0E0 !important;
      cursor: pointer;
      box-shadow: none !important;
      transform: none !important;
      width: 250px;

      &>.extra {
        border-top: 2px solid #E0E0E0 !important;
        color: #000000;
      }
    }
  }
  
  .payment-filter-children {
    position: absolute;
    top: 0;
    left: 195px;
    background-color: #fff;
    border-radius: 4px;
    padding: 0 15px;
    border: 1px solid #E0E0E0;
    width: 200px;
  }

  .payment-filter-item {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 50px;
    padding: 7px 12px;
    margin-right: 8px;

    i.icon {
      margin-left: 10px;
      background-color: #757575;
      color: #fff;
      cursor: pointer;
    }
  }
}

.payment-datepicker {
  margin-left: 8px;
  
  input {
    border-color: #e0e0e0 !important;
    font-weight: bold;
    cursor: pointer;
  }
  
  &.ui.disabled.input {
    opacity: 1;
    cursor: not-allowed;

    input[disabled] {
      background-color: #E0E0E0;
    }
  }
}

.payment-detail {
  .ui.grid {
    margin: 0;
    &>.row {
      padding: 0;
      margin-bottom: 15px;
    }
  }

  .account-number-check {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .ui.button {
      background-color: #46A997;
  
      &:disabled {
        opacity: 1 !important;
        background-color: #E0E0E0;
      }
    }
  }  

  .ui.disabled.input, .ui.disabled.input input[disabled] {
    opacity: 1;
  }
}

input.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}