@font-face {
  font-family: 'Fazz Neue';
  src: url('./assets/fonts/FazzNeue-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Fazz Neue';
  src: url('./assets/fonts/FazzNeue-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Fazz Neue';
  src: url('./assets/fonts/FazzNeue-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Fazz Neue';
  src: url('./assets/fonts/FazzNeue-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Fazz Neue';
  src: url('./assets/fonts/FazzNeue-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Fazz Neue';
  src: url('./assets/fonts/FazzNeue-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Fazz Neue';
  src: url('./assets/fonts/FazzNeue-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Fazz Neue';
  src: url('./assets/fonts/FazzNeue-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Fazz Neue';
  src: url('./assets/fonts/FazzNeue-Heavy.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'Fazz Neue';
  src: url('./assets/fonts/FazzNeue-HeavyItalic.ttf');
  font-weight: 900;
  font-style: italic;
}

body {
  margin: 0;
  font-family: 'Fazz Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f4f5;
}

h1, h2, h3, h4, h5, .ui.input>input, .ui.button {
  font-family: 'Fazz Neue', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
